body {
  
 
}

.button-tray {
  margin: auto;
  width: 33%;  
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-tray span {
  padding-left: 3px;
  padding-right: 3px;
  color: black;
}

.button-tray input{
  padding: 2px;
  margin-left: 3px;
  margin-right: 3px;
}

.button-tray select{
  padding: 2px;	
  margin-left: 3px;
  margin-right: 3px;
}

.edit-content {
  background-color: #eee;
  width: 80%;
  margin: auto;
  height: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.editor {
  background-color: white;
  padding: 11px;
  width: 60%;
  margin: auto;
  height: 460px;
  box-shadow: 2px 2px 2px 2px #888888;
}

.editor:focus {
  outline: 0px solid transparent;
}